.menudiv1
{
    margin: 7px 10px;
    display:flex;
    justify-content: space-between;
    width:100%;
}
.menudiv2
{
    margin:0px 20px;
    display:flex;
    justify-content:space-around; 
    width:40%;
}
p
{
    font-size: 30px;
    color:whitesmoke;
}
.img1
{
    display:flex;
    width:30%;height:400px;
    justify-content:center;
}

.screendiv
{
    display:flex;
    justify-content: space-around; 
    width:100%;  
}
.razdel
{
    color:whitesmoke;
    text-align: center;
}
.action:hover
{
    background: red;
}
.p1
{
    font-size: 25px;
    color:whitesmoke;
    text-decoration: none;
    font-family: 'Kalam', cursive ;
}
li 
{
    text-decoration: none;
    float: left;
}
ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.img2
{
    width:85%;
    height:400px;
    padding:0px 20px;
}
.img3
{
    padding:0px 30px;
    width:60%;
    height:400px;
}
.img4
{
    width:40%;
    height:400px;
}
.me
{
    width:300px;
    height:300px;
}


@media screen and (max-width: 600px)
{
.screendiv
{
    flex-direction: column;
    margin: auto; 
    width:100%;  
}
.img1,.img11
{
    padding: 0px 10px;
    width:99%;height:400px;
}
.telP
{
    padding:0px 10px;
}
li .hidden
{
    text-align: center;
    display: none;
}
li:hover .hidden
{
    display: block;
    align-items: center;
    
}
ul 
{
    list-style-type: none;
    align-items: center;
    display: inline-block;
    flex-direction: column;
}
}